<div id="myLandRecord">
   <div class="main-content">
      <div class="container-fluid">
         <div class="row mb-4">
            <div class="col-md-12 col-lg-12 col-sm-12">
               <div class="civil-issuing">
                  <div class="titleHeadissue">
                     <i class="material-icons mr-2" style="float:left;">assignment_turned_in</i>
                     RECEIVED INVOICE DETAILS
                  </div>
               </div>
            </div>

         </div>
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                     <div class="table-responsive">
                        <table class="table">
                           <tr>
                              <th style="width:400px">
                                 Invoice Id
                              </th>
                              <th>
                                 {{invoiceDetails.id}}
                              </th>
                           </tr>
                           <tr>
                              <th style="width:400px">
                                 Buyer Details
                              </th>
                              <th>
                                 {{invoiceDetails.purchasingCompanyEmail}}
                              </th>
                           </tr>
                           <tr>
                              <th style="width:400px">
                                 Seller Details
                              </th>
                              <th>
                                 {{invoiceDetails.issuingCompanyEmail}}
                              </th>
                           </tr>

                           <tr>
                              <th style="width:400px" colspan="2">
                                 <strong>Invoice Details</strong>
                              </th>
                              <!-- <th style="width:400px">

                              </th> -->
                           </tr>


                           <tr>
                              <td colspan="2">
                                 <table class="table" *ngFor="let item of invoiceList">
                                    <tr>
                                       <th style="width:400px;">
                                          Invoice Number
                                       </th>
                                       <th>
                                          {{item.invoiceNo}}
                                       </th>
                                    </tr>
                                    <tr>
                                       <th style="width:400px">
                                          Invoice Date
                                       </th>
                                       <th>
                                          {{item.invoiceDate | date: 'dd/MM/yyyy'}}
                                       </th>
                                    </tr>
                                    <tr>
                                       <th style="width:400px">
                                          Invoice Amount
                                       </th>
                                       <th>
                                          {{item.invoiceAmount}}
                                       </th>
                                    </tr>
                                    <tr>
                                       <th style="width:400px">
                                          Invoice Uploaded By Seller Document
                                       </th>
                                       <th>
                                          <a class="text-primary">
                                             {{item.invoiceDoc ?item.invoiceDoc:"http://49.50.67.44/invoice-backend/files/1586531680740_formBg.png"}}</a>
                                       </th>
                                    </tr>
                        </table>
                     </td>
                   </tr>
                  <tr>
                        <th style="width:400px">
                           Nodal confirmation Document
                        </th>
                        <th>
                           <a class="text-primary">
                              {{invoiceDetails.nodalReceipt}}
                           </a>

                        </th>
                     </tr>

                     <tr>
                        <th style="width:400px">
                           Amount for disbursal
                        </th>
                        <th *ngIf="invoiceDetails.sts==='2'">
                           <input type="text" class="custom-file-input" id="customFile" placeholder="Amount"
                              [(ngModel)]="amountDisburse"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </th>
                         <th *ngIf="invoiceDetails.sts==='5'">
                               {{invoiceDetails.lendingAmount}}
                              </th>
                     </tr>

                     <tr>
                        <th style="width:400px">
                           Rate of Interest
                        </th>
                        <th *ngIf="invoiceDetails.sts==='2'">
                           <input type="text" class="custom-file-input" id="customFile2" placeholder="Rate of Interest"
                              [(ngModel)]="roi"
                              onkeypress="return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)">
                           %
                        </th>
                         <th *ngIf="invoiceDetails.sts==='5'">
                                 {{invoiceDetails.lendingInterest}} %
                              </th>
                     </tr>

                     <tr>
                        <th style="width:400px">
                           Loan tenure
                        </th>
                        <th *ngIf="invoiceDetails.sts==='2'">
                           <input type="text" class="custom-file-input" id="customFile1" placeholder=" Loan tenure"
                              [(ngModel)]="loan_tenure"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57"> Month
                        </th>
                         <th *ngIf="invoiceDetails.sts==='5'">
                                 {{invoiceDetails.dateOfPayment}} Months
                              </th>
                     </tr>
                     </table>
                  </div>
               </div>

            </div>
            <hr>
            <div class="row" *ngIf="invoiceDetails.sts==='2'">
               <div class="col-sm-12 text-center">
                  <div>
                     <div>
                        <button type="button" name="button" data-toggle="modal"
                           class="btn bg-success btn-sm mat-raised-button mr-1" (click)="accept()">Submit</button>
                        <!--  <button type="button" name="button" (click)="reject()" class="btn btn-sm bg-danger mat-raised-button mr-1">Reject</button> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>

   </div>
</div>
</div>